.obsidian-icon-folder-icon {
	margin: 0 4px 0 0;
	display: inline-block;
	align-self: center;
	background-size: contain;
	background-position: center center;
}

.nav-folder-title,
.nav-file-title {
	align-items: center;
}
